h1{
    color: rgb(55, 177, 136);
    font-style: italic;
}
p{
    color: rgb(180, 146, 104);
    background-color: rgb(107, 107, 206);font-size: medium;rfont-style: oblique;
    
}
.heyy a {
    color: rgb(69, 69, 156);
}